<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Adicionar Interfaz de Adquisición de datos</h3>
    </div>
    <div class="card-body">
      <form action="/motos/new-sensor" method="POST">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Nombre interfaz" autofocus/>
        </div>
        <div class="form-group">
          <input type="text" name="ubicacion" class="form-control" placeholder="Instalado en (Ej:moto,lancha,otro)" autofocus/>
        </div>
        <div class="form-group">
          <input type="text" name="info" class="form-control" placeholder="Sensores que posee" autofocus/>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

