    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>Sensores</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Variables</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>Usuarios Registrados</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
        <section class="col-lg-7 connectedSortable">

<html>
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <figure class="highcharts-figure">
            <div id="container" style width = 20px></div>
            <div id="container2"></div>
        </figure>
        
        <meta http-equiv="refresh" content="10">
        
    </head>

    <body>
        

    </body>

    <script>
        
        var datos = [];
        var Sensor2_humedad = [];
        
        var fecha = []; 
        var actualdato = 0;
        var i=0;
        {{#each sensores}}
            datos[i]={{s_temperatura}};
            Sensor2_humedad[i]={{s_humedad}};
            fecha[i]="{{createdAt}}";
            
            console.log(fecha);
            i=i+1;
            actualdato = {{s_temperatura}};

        {{/each}}

        console.log(fecha[2]);
       
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Temperatura'
            },
            subtitle: {
                text: 'Source: Energética2030'
            },
            xAxis: {
                categories: fecha
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Moto 1',
                data: datos
            }]
        });
        
        /*Otro*/
        Highcharts.chart('container2', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Humedad'
            },
            subtitle: {
                text: 'Source: Energética2030'
            },
            xAxis: {
                categories: fecha
            },
            yAxis: {
                title: {
                    text: 'Humedad (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Moto 1',
                data: Sensor2_humedad
            }]
        });

       
    </script>
 </section>
<script>


</script>

    
</html>




          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->