<html>
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <figure class="highcharts-figure">
            <div id="container" style width = 20px></div>
            <p class="highcharts-description">
                Grafica de Temperatura en Moto.
            </p>
            <div id="container2"></div>
            <p class="highcharts-description">
                Grafica de Humedad en Moto.
            </p>
        </figure>
        
        <meta http-equiv="refresh" content="10">
        
    </head>

    <body>
        

    </body>

    <script>
        
        var datos = [];
        var Sensor2_humedad = [];
        
        var fecha = []; 
        var actualdato = 0;
        var i=0;
        {{#each sensores}}
            datos[i]={{s_temperatura}};
            Sensor2_humedad[i]={{s_humedad}};
            fecha[i]="{{createdAt}}";
            
            console.log(fecha);
            i=i+1;
            actualdato = {{s_temperatura}};

        {{/each}}

        console.log(fecha[2]);
       
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Temperatura'
            },
            subtitle: {
                text: 'Source: Energética2030'
            },
            xAxis: {
                categories: fecha
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Moto 1',
                data: datos
            }]
        });
        
        /*Otro*/
        Highcharts.chart('container2', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Humedad'
            },
            subtitle: {
                text: 'Source: Energética2030'
            },
            xAxis: {
                categories: fecha
            },
            yAxis: {
                title: {
                    text: 'Humedad (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Moto 1',
                data: Sensor2_humedad
            }]
        });

       
    </script>
 </section>
<script>


</script>

    
</html>