
<h2>Moto Hibrida</h2>
<a title="moto" href="/motos/addsensor""><img src="/img/moto.png" class="img-circle" alt="moto" width="300"/></a>


<h2>Embarcación</h2>
<a title="lancha" href="/motos/addsensor""><img src="/img/lancha.png" class="img-circle" alt="lancha" width="300"/></a>


<h2>Estación de Carga</h2>
<a title="estacion" href="/motos/addsensor""><img src="/img/estacion.png" class="img-circle" alt="estacion" width="300"/></a>
</h2>