  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Proyecto P03 - Movilidad Sostenible
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="https://www.energetica2030.co/">ENERGÉTICA 2030</a>.</strong> All rights reserved.
  </footer>