  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Research Group
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="https://nextiot.herokuapp.com/">Next IoT</a>.</strong> All rights reserved.
  </footer>